
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		@apply bg-surface-50 font-sans text-slate-900 antialiased;
	}
}
